trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Validate
  jobs:
  - job: TerraformValidate
    steps:
    - task: TerraformInstaller@0
      inputs:
        terraformVersion: '1.0.0'
    - script: terraform init
      displayName: 'Terraform Init'
      workingDirectory: '$(System.DefaultWorkingDirectory)'
    - script: terraform validate
      displayName: 'Terraform Validate'
      workingDirectory: '$(System.DefaultWorkingDirectory)'

- stage: Plan
  jobs:
  - job: TerraformPlan
    steps:
    - task: TerraformInstaller@0
      inputs:
        terraformVersion: '1.0.0'
    - script: terraform init
      displayName: 'Terraform Init'
      workingDirectory: '$(System.DefaultWorkingDirectory)'
    - script: terraform plan -out=tfplan
      displayName: 'Terraform Plan'
      workingDirectory: '$(System.DefaultWorkingDirectory)'

- stage: Apply
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
  - deployment: TerraformApply
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: TerraformInstaller@0
            inputs:
              terraformVersion: '1.0.0'
          - script: terraform init
            displayName: 'Terraform Init'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
          - script: terraform apply -auto-approve tfplan
            displayName: 'Terraform Apply'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
